@import "./background.scss";

.def-area {
  margin: auto;
  width: 50vw;
  z-index: 1;
  
  @media (max-width: 750px) {
    width: 70vw;
  }
  @media (max-width: 450px) {
    width: 90vw;
  }
}

.def-display {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-bottom: -1rem;
}

.word-definition {
  padding: 1.5rem;
  h1 {
    font-size: 3rem;
    margin: 0;
  }
  p {
    margin: 0;
  }
  .part-of-speech {
    margin: 0.5rem 0 0 0.3rem;
  }
  .phonetics {
    display: flex;
  }
  .phonetic {
    margin: 1rem 0;
    display: flex;
    p {
      padding-right: 0.2rem;
    }
    button {
      margin-right: 0.5rem;
      @include backgroundImage(cover); 
      background-image: url(../images/sound.png);
      border-style: none;
      width: 1.2rem;
      background-color: white;
      &:hover {
        cursor: pointer;
      }
    }
    .text {
      margin-right: 0.5rem;
    }
  }
  .def {
    margin: 1rem 0 1rem 0;
    ul {
      list-style-type: none;
      padding: 0;
    }
    .example {
      list-style-type: disc;
      padding-left: 1.5rem;
    }
    hr {
      color: rgb(161, 161, 161);
      border-width: 0.5px;
    }
  }
  hr {
    border-style: solid;
  }
  strong {
    font-size: 1.2rem;
  }
  ul {
    padding-left: 1.5rem;
    li {
      padding: 0.7rem 0 0.7rem 0;
    }
  }
}
